<h1><%= @artist.name %>'s LPs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lps.each do |lp| %>
      <tr>
        <td class="name"><%= link_to lp.name, lp %></td>
        <td class="other"><%=  lp.artist.name %></td>
        <td class="description"><%= lp.description %></td> 
        <td><%= link_to 'Edit', edit_lp_path(lp), class: "btn btn-large btn-warning" %></td>
        <td><%= link_to 'Destroy', lp, class: "btn btn-large btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', @artist, class: "btn btn-large btn-info" %>